.App-background {
  background: linear-gradient(
    113.5deg,
    rgb(234, 234, 234) 22.3%,
    rgb(201, 234, 211) 56.6%,
    rgb(255, 180, 189) 90.9%
  );
}

.App-header {
  min-height: 100vh;
}

.App {
  text-align: center;
  font-family: "Aboreto", cursive;
  max-width: 100vw;
  margin: 0 auto;
  padding-top: 100px;
}

a {
  margin-right: 20px;
}

h1 {
  font-size: 120px;
  text-align: left;
  padding-top: 230px;
}

h2 {
  font-size: 50px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
  text-align: right;
}

p {
  font-size: 25px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  text-align: left;
  padding-top: 200px;
  line-height: 30px;
}

.App-link {
  color: black;
  font-size: 20px;
  line-height: 30px;
}

.project_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0px;
}

.project_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  padding-left: 50px;
}

.project_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.project_4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  padding-top: 50px;
}

.project_5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  padding-right: 100px;
}

.project_6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 70px 70px;
}

footer {
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
  color: black;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 0px;
    text-align: left;
    padding-top: 150px;
  }

  h2 {
    font-size: 40px;
    text-align: left;
  }

  p {
    padding-bottom: 100px;
  }

  .name_sites {
    display: flex;
    flex-direction: column;
  }
}
